<h1 class="team-header">Team <%= @team.name %></h1>
<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Summary", team_path(@team) %></li>
  <li><%= link_to "Update progress", update_progress_path(@team) %></li>
  <li><%= link_to "History", snapshot_history_path(@team) %></li>
  <li><%= link_to "Admin", edit_team_path(@team) %></li>
</ul>
<br/>


<%= render :partial => "teams/overview_vertical", :locals => {:snapshot => @snapshot, :essence_version => @team.essence_version} %>

<br/>
<h2>Snapshots</h2>
<%= link_to "History", snapshot_history_path(@team) %>
<div class="row">
  <div class="col-md-12">
<table class="table">
<% @team.snapshots.reverse_each do |snapshot| %>
   <tr><td><%= snapshot.position %></td><td><%= link_to I18n.l(snapshot.updated_at), snapshot_path(snapshot) %></td></tr>
<% end %>
</table>
      </div>
    </div>

</div>
