<h1>Action Items</h1>
<% @essence_version.alphas.each do |alpha| %>
        <% snapshot_alpha = @snapshot.snapshot_alphas_hash[alpha.id] %>
        <% if snapshot_alpha.present? && snapshot_alpha.active_actions.present? %>
               <b><%= alpha.name %></b><br/>
               <% snapshot_alpha.active_actions.each do |action| %>
                  <%= action.description %><br/>
               <% end %>
               <br/>
        <% end %>
  <% end %>

<h1>Summary</h1>
<table cellpadding="0" cellspacing="0" border="0" align="center">
 <tr>
    <td><b>Alpha</b></td>
    <td><b>State</b></td>
    <td><b>Notes</b></td>
    <td><b>Actions</b></td>
  </tr>
<% @essence_version.alphas.each do |alpha| %>
       <% snapshot_alpha = @snapshot.snapshot_alphas_hash[alpha.id] %>
       <% if snapshot_alpha.present? %>
       <tr valign="top"><td><%= alpha.name %></td>
            <td color="<%= snapshot_alpha.alpha.color %>"> <%= snapshot_alpha.current_state.number %>. <%= snapshot_alpha.current_state.name %></td>
            <td><%= snapshot_alpha.notes %></td>
            <td>
              <% snapshot_alpha.active_actions.each do |action| %>
                 <%= action.description %><br/>
              <% end %>
            </td>
       </tr>
       <% end %>
 <% end %>
</table>
