<script>
    $(document).ready(function () {
        $("[data-toggle=popover]").popover()
    });
</script>

<h1>My Teams</h1>
<table class="table table-bordered">
<% essence_version = EssenceVersion.where(:name => "CMU 1.1").first %>
<tr>
  <th>Team</th>
  <% essence_version.alphas.each do |alpha| %>
<th class="<%= alpha.color.downcase %>"><%= alpha.name %> </th>
  <% end %>
</tr>
<% @teams.each do |team| %>
      <%= puts team.id %>
      <%= render :partial => "teams/overview_table_row", :locals => {:team => team, :snapshot => team.find_latest_or_create_first_snapshot, :essence_version => team.essence_version} %></div>
<% end %>
</table>

<form action="<%= new_team_path %>">
  <input type="submit" class="btn btn-success" value="Add a team">
  <label for="version">Select version:</label>
  <%= select_tag(:version_name, options_from_collection_for_select(@essence_versions, :name, :name, @default_version)) %>
  <span class="alpha-tooltip glyphicon glyphicon-info-sign"  data-toggle="popover" title="" data-html="true" data-content="We recommend using 'CMU 1.1'<br/><br./>For more information, click on Versions in the top menu." role="button" data-original-title="Which version to use?" ></span>
</form>
<br/>
