<h1>My Teams</h1>
<div class="list-group">
<% @teams.each do |team| %>
      <% if team.id == session[:selected_team_id] %>
        <%= link_to team.name, team_path(team), :class=> "list-group-item active" %>
      <% else %>
        <%= link_to team.name, team_path(team), :class=> "list-group-item" %>
      <% end %>
<% end %>
<%= link_to "Add a team", new_team_path, :class=> "list-group-item" %>
</div>

<h1>My Teams</h1>
<table class="table table-bordered">
<% essence_version = EssenceVersion.where(:name => "CMU 1.1").first %>
<tr>
  <th>Team</th>
  <% essence_version.alphas.each do |alpha| %>
<th class="<%= alpha.color.downcase %>"><%= alpha.name %> </th>
  <% end %>
</tr>
<% @teams.each do |team| %>
      <%= render :partial => "teams/overview_table_row", :locals => {:name => team.name, :snapshot => team.snapshots.last, :essence_version => team.essence_version} %></div>
<% end %>
</table>