<h1>My Teams</h1>
<div class="list-group">
<% @teams.each do |team| %>
      <% if team.id == session[:selected_team_id] %>
        <%= link_to team.name, team_path(team), :class=> "list-group-item active" %>
      <% else %>
        <%= link_to team.name, team_path(team), :class=> "list-group-item" %>
      <% end %>
<% end %>
<%= link_to "Add a team", new_team_path, :class=> "list-group-item" %>
</div>

<br/>

<h1>My Teams</h1>
<table class="table table-bordered">
<% essence_version = EssenceVersion.where(:name => "CMU 1.1").first %>
<tr>
  <th>Team</th>
  <% essence_version.alphas.each do |alpha| %>
<th class="<%= alpha.color.downcase %>"><%= alpha.name %> </th>
  <% end %>
</tr>
<% @teams.each do |team| %>
      <%= puts team.id %>
      <%= render :partial => "teams/overview_table_row", :locals => {:name => team.name, :snapshot => team.find_latest_or_create_new_snapshot, :essence_version => team.essence_version} %></div>
<% end %>
</table>

<br/>


<h1>My Teams</h1>
<table class="table">
<% @teams.each do |team| %>
      <tr><td>
      <% if team.id == session[:selected_team_id] %>
        <%= link_to team.name, team_path(team), :class => "btn btn-default", :role => "button" %>
      <% else %>
        <%= link_to team.name, team_path(team), :class => "btn btn-default", :role => "button" %>
      <% end %>
      </td>
      <td>
        <%= link_to "Update progress", alphas_path(team), :class => "btn btn-success", :role => "button" %>
        <%= link_to "Summary", team_path(team), :class => "btn btn-success", :role => "button" %>
        <%= link_to "Admin", edit_team_path(team), :class => "btn btn-success", :role => "button" %>
      </td>
      </tr>
<% end %>
<tr><td>
    <form action="<%= new_team_path %>">
      <input type="submit" class="btn btn-success" value="Add a team">
      <label for="version">Select version:</label>
      <%= select_tag(:version_name, options_from_collection_for_select(@essence_versions, :name, :name)) %>
    </form>
</td><td>&nbsp;</td></tr>
</table>

<br/>

<h1>My Teams</h1>
<table class="table">
<% @teams.each do |team| %>
      <tr><td>
      <% if team.id == session[:selected_team_id] %>
            <div>
        <%= link_to team.name, team_path(team), :class=> "list-group-item active" %>
            </div>
      <% else %>
            <div>
        <%= link_to team.name, team_path(team), :class=> "" %>
            </div>
      <% end %>
      </td>
      <td>
        <%= link_to "Update progress", alphas_path(team), :class => "btn btn-success", :role => "button" %>
        <%= link_to "Summary", team_path(team), :class => "btn btn-success", :role => "button" %>
        <%= link_to "Admin", edit_team_path(team), :class => "btn btn-success", :role => "button" %>
      </td>
      </tr>
<% end %>
<tr><td><%= link_to "Add a team", new_team_path, :class=> "btn btn-success" %>
  <div class="input-group input-group-lg">
    <label for="version">Select version:</label>
    <%= select_tag(:version_name, options_from_collection_for_select(@essence_versions, :name, :name)) %>
  </div>
</td><td>&nbsp;</td></tr>
</table>
