<h1>Version: <%= @version.name %></h1>

<div><%= link_to "Machine readable json", api_v1_version_path(@version, :format => :json) %></div>

<% @version.alphas.each do |alpha| %>
    <h2 class="alpha-header"><%= alpha.name %></h2>
    <span class="alpha-tooltip glyphicon glyphicon-info-sign"  data-toggle="popover" title="" data-html="true" data-content="<%= alpha.definition %><br/><br/><%= alpha.description %>" role="button" data-original-title="Definition & Description" ></span>

<div class="row">
  <% alpha.visible_states.each_with_index do |state, index| %>
        <div class="col-md-4"><%= render :partial => "alphas/state_card", :locals => {:state => state, :color => alpha.color, :checklist_ids_hash => @checklist_ids_hash} %></div>
        <% if index % 3 == 2 %>
        </div><div class='row'>
        <% end %>
  <% end %>

</div>

<% end %>

