<%
   #Parameters: state
   state = local_assigns[:state]  
   color = local_assigns[:color] || "blue"
   checklist_ids_hash = local_assigns[:checklist_ids_hash] || Hash.new
   disabled_text = local_assigns[:disabled_text]

%>

<% #It would be nice to move this logic into javascript, but its easier today to put it here...
   all_checked = true
   state.checklists.each do |checklist|
     all_checked = false unless checklist_ids_hash.has_key?(checklist.id)
   end
%>

<%
   if all_checked
    all_checked_class = "all-checked"
   else
    all_checked_class = ""
   end
%>
<div class="panel panel-<%= color.downcase %> <%= all_checked_class%>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= state.number %>. <%= state.name%></h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
    <% state.checklists.each do |checklist| %>
        <li class="list-group-item">
         <% if checklist_ids_hash.has_key?(checklist.id) %>
            <input type="checkbox" class="checklist_checkbox" value="<%= checklist.id %>" <%= disabled_text %> checked> <%= checklist.name %></li>
         <% else %>
            <input type="checkbox" class="checklist_checkbox" value="<%= checklist.id %>" <%= disabled_text %>> <%= checklist.name %></li>
         <% end %>
    <% end %>
        </ul>
  </div>
</div>