<script>
    $(document).ready(function () {
        $('.checklist_checkbox').click(function(){
            if($(this).is(':checked')){
                checked = true;
            } else {
                checked = false;
            }
            id = $(this).val()
            $.ajax({
                type:'post',
                data:"checklist_id=" + id + "&checked=" + checked +  "&team_id=<%=@team.id%>&user_id=<%=current_user.id%>",
                dataType:'script',
                url:'/api/v1/progress'});
        });
        $('select#teams').on('change', function() {
          new_page = "<%= alphas_path %>/" + $(this).val();
          window.location.replace(new_page);
        });
        $('.alpha-notes').change(function () {
            text = $(this).val();
            alpha_id = $(this).data("id");
            $.ajax({
                type: 'post',
                data: "alpha_id=" + alpha_id + "&user_id=<%=current_user.id%>" + "&notes=" + text,
                dataType: 'script',
                url: '/api/v1/progress/<%= @team.id %>/save_notes'});
        });
        $('.alpha-actions').change(function () {
            text = $(this).val();
            alpha_id = $(this).data("id");
            $.ajax({
                type: 'post',
                data: "alpha_id=" + alpha_id + "&user_id=<%=current_user.id%>" + "&actions=" + text,
                dataType: 'script',
                url: '/api/v1/progress/<%= @team.id %>/save_actions'});
        });
//        $('#example').popover(options)
        $("[data-toggle=popover]").popover()

    });
</script>

<% if @teams.count > 1 %>
<div class="row">
  <div class="pull-right">
    <div class="input-group input-group-lg">
    <label for="teams">Select team:</label>
<!--    <span class="input-group-addon">Select team:</span> -->
    <%= select_tag "teams", options_from_collection_for_select(@teams, "id", "name", @team.id), class: "form-control" %>
      </div>
    </div>
</div>
<% end %>

<% @version.alphas.each do |alpha| %>
    <h2 class="alpha-header"><%= alpha.name %></h2>
    <span class="alpha-tooltip glyphicon glyphicon-info-sign"  data-toggle="popover" title="" data-html="true" data-content="<%= alpha.definition %><br/><br/><%= alpha.description %>" role="button" data-original-title="Definition & Description" ></span>

<div class="row">
  <% alpha.states.each_with_index do |state, index| %>
        <div class="col-md-4"><%= render :partial => "state_card", :locals => {:state => state, :color => alpha.color, :index => index, :checklist_ids_hash => @checklist_ids_hash} %></div>
  <% end %>

</div>

    <div clsss="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="mass-invite-textarea">Notes</label>
          <textarea id="alpha_notes_<%= alpha.id%>" name="alpha_notes" data-id="<%= alpha.id %>" class="form-control alpha-notes" rows="5" placeholder="Enter notes about your current situation."></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="mass-invite-textarea">Possible Actions</label>
          <textarea id="alpha_actions_<%= alpha.id%>" name="alpha_actions" data-id="<%= alpha.id %>" class="form-control alpha-actions" rows="5" placeholder="Enter possible actions your team can perform to achieve the next state."></textarea>
        </div>
      </div>
    </div>
<% end %>

