<!DOCTYPE html>
<html lang="en">
<head>
  <title>SEMAT Essence Kernel Tool</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top hidden-print">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SEMAT</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
<!--        <li class="<%= 'active' if current_page?(root_path) %>"><a class="navbar-brand" href="<%= root_path %>">SEMAT</a></li> -->
        <li class="<%= 'active' if current_page?(about_path) %>"><a href="/static/about">About</a></li>

        <% if user_signed_in? %>
        <li class="<%= 'active' if current_page?(alphas_path) %>"><a href="<%= alphas_path %>">Alphas</a></li>
        <li class="<%= 'active' if current_page?(my_teams_path(current_user)) %>"><a href="<%= my_teams_path(current_user) %>">Teams</a></li>
        <li class="<%= 'active' if current_page?(versions_path) %>"><a href="<%= versions_path %>">Versions</a></li>

        <li><a href="#contact"><% current_user.email %></a></li>
		<% else %>
        <li class="<%= 'active' if current_page?(versions_path) %>"><a href="<%= versions_path %>">Versions</a></li>
        <li><a href="<%= new_user_registration_path %>">Sign up</a></li>
		<% end %>
      </ul>
      <% if user_signed_in? %>
          <a href="#contact"><% current_user.email %></a>
          <form class="navbar-form navbar-right">
            <%= link_to "Log out ", destroy_user_session_path, :method => :delete, :class => "btn btn-success", :role => "button" %>
          </form>
      <% else %>
      <%= form_tag(user_session_path, method: "post", class: "navbar-form navbar-right", id: "new_user") %>
                  <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" name="user[email]" id="user_email">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" name="user[password]" id="user_password">
                  </div>
                  <button type="submit" class="btn btn-success">Sign in</button>
          </form>
       <% end %>
    </div><!--/.nav-collapse -->
  </div>

</div>

<div class="container">

  <% if notice.present? %><div class="alert alert-success"><%= notice %></div><% end %>
  <% if alert.present? %><div class="alert alert-danger"><%= alert %></div><% end %>

  <%= yield %>

</div><!-- /.container -->
<% unless user_signed_in? %>
<div class="starter-template">
  <a class="btn btn-lg btn-success" href="<%= new_user_registration_path %>" role="button">Sign up</a>
</div>
<% end %>

<br/>
<div id="footer">
   <div class="container">
     <p class="text-muted credit"><%= image_tag "ECE_Red_Black.png", :width => "25%" %> Code provided by Todd Sedano. Submit issues and suggestions <%= link_to "here", "http://github.com/professor/semat/issues" %></p>

   </div>
 </div>

</body>
</html>
